body, div, span {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

input {
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 50px;
    outline: none;
    font-size: 20px;
}

#divGame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    padding: 10px;
}

span {
    width: 100%;
    letter-spacing: 50px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}